.track-item{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.track-title{
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 5px;
}
.track-info{
  display: flex;
  align-items: center;
}
.track-play{
  width: 35px;
  height: 35px;
}
.track-duration{
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
}
.play-btn{
  background: none;
  border: none;
  cursor: pointer;
}
.track-status-wrap{
  text-align: right;
  margin-bottom: 10px;
}
.track-status-btn{
  background: transparent;
  border: 1px solid #fff;
  margin-left: 10px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.3s ;
}
.track-status-btn:hover{
  background: #fff;
  color: #fc0b68;
}