.track-album{
  color: #fff;
  font-size: 20px;
  letter-spacing: 5px;
  text-align: center;
}
.tracks-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}
.track-link{
  margin-left: 30px;
  cursor: pointer;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}