body{
  margin: 0;
  padding: 0;
  color: #243238;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  background: #2d394b;
  user-select: none;
}
* {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.line-one{
  background: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
  height: 4px;
  width: 95%;
  border-radius: 4px;
  margin: 0 auto;
}
.track-artist,
.trackHistory-title{
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
.enter{
  position: relative;
}
.enter-page{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.form{
  background: #2d394b;
  color: #fff;
  border-color: transparent;
  width: 500px;
  min-height: 20vh;;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 20px 10px;
}
.form-title{
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}
.input-wrap{
  width: 480px;
}
.form-label{
  display: block;
  margin-bottom: 10px;
  text-align: left;
}
.form-control{
  padding: 10px 5px;
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
.form-control:focus{
  outline: none;
}
.form-control-error{
  padding: 10px 5px;
  width: 100%;
  border: 1px solid #f23637;
  margin-bottom: 20px;
}
.form-control-error:focus{
  outline: #f23637;
}
.error{
  color: #f23637;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: lighter;
  letter-spacing: 2px;
}
.form-btn{
  background-color: #f23637;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  justify-content: center;
}

.youtube-title{
  text-transform: uppercase;
  color: #fff;
  font-weight: lighter;
  letter-spacing: 3px;
}

