body{
  margin: 0;
  padding: 0;
  color: #243238;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  background-image: linear-gradient(to right, #f23637, #fc0b68);

}
* {
  box-sizing: border-box;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.header{
  align-items: center;
  background: #2d394b;
  display: flex;
  height: 60px;
  left: 0;
  padding: 10px 70px 10px 30px;
}
.logo{
  width: 65px;
  height: 65px;
}
.main{
  position: relative;
}
.main-img{
  padding: 120px 0;
  background: url(https://livedemo00.template-help.com/wt_prod-20412/images/breadcrumbs-1920x440.jpg) no-repeat center;
}
.main-title{
  color: #fff;
  position: absolute;
  top: 40px;
  font-weight: lighter;
  letter-spacing: 5px;
  left: 40px;
  z-index: 1;
}
.artists{
  margin: 40px 0 70px;
  display: flex;
  justify-content: space-between;
}
.artist-item{
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  color: #828590;
  background: #ffffff;
  border-radius: 6px;
  transition: .3s;
  cursor: pointer;
}
.artist-item:hover{
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}
.artist-item-two{
  text-align: center;
  padding: 20px;
}
.artist-img{
  width: 400px;
  height: 400px;
}
.artist-title{
  color: #fc0b68;
  letter-spacing: 3px;
  font-weight: lighter;
  text-transform: uppercase;
}
.artist-span{
  display: inline-block;
  padding: 0 9px;
  font-weight: 100;
  color: #ffffff;
  background-image: -webkit-linear-gradient(left, #f23637 0%, #fc0b68 100%);
  background-image: linear-gradient(to right, #f23637 0%, #fc0b68 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF23637', endColorstr='#FFFC0B68', GradientType=1);
  border-radius: 2px;
}
.artist-link{
  text-decoration: none;
}
.artist-name{
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
}
.albums-container{
  background: url("https://livedemo00.template-help.com/wt_prod-20412/images/bg-image-4.jpg");
  height: 100vh;
}
.albums-list{
  display: flex;
  flex-direction: column;
}
.album-wrap{
  margin: 0 auto 40px;
  width: 400px;
  display: flex;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 10%;
  position: relative;
  z-index: 0;
  transition: .3s;
  cursor: pointer;
}
.album-link{
  text-decoration: none;
}
.album-img{
  width: 100px;
  height: 100px;
  z-index: 1;
}
.album-txt{
  text-decoration: none;
  margin-left: 10px;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  font-weight: lighter;
}
.album-txt h3{
  font-size: 25px;
}

.album-txt h5{
  font-size: 20px;
}